.Etc-big-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    background: url("../../public/images/night.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.Etc-big-wrapper p {
    font-size: 1.3vw;
}

.card-container {
    height: 100%;
    width: 100%;
    position: absolute;
    transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--absoffset) * -0.4))
    translateZ(calc(var(--absoffset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
    filter: blur(calc(var(--absoffset) * 1rem));
    transition: all 0.2s ease-out;
}

@-moz-document url-prefix() { 
  .card-container {
    filter: blur(0);
  }
  .card-container .card.glass {
    background: rgba(46, 54, 47, 0.9);;
  }
}

.carousel {
    margin: 0;
    width: 60vw;
    height: 80vw;
    position: relative;
    perspective: 500px;
    transform-style: preserve-3d;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    min-height: 500px;
    padding: 2rem;
    border-radius: 1rem;
    color: var(--mid);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 5px 2px rgba(255, 227, 198, 0.5)
}

.card p {
    font-size: 1vw;
    margin: 0;
}

h2 {
    font-size: 1.5vw;
}

.nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 70%;
    z-index: 2;
    cursor: pointer;
    user-select: none;
    background: unset;
    border: unset;
    left: 50%;
    transform: translateX(-50%);
    & img {
      width: 60px;
    }
  }

.chevron-left, .chevron-right {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 2px var(--light);
}

.chevron-left {
  left: -20vw;
  ;
}
.chevron-right {
  right: -20vw;
  transform: rotate(180deg)
}

.cardimg {
    width: 26vw;
    border-radius: 20px;
    opacity: 0.7;
}

.ingagas {
    cursor: pointer
}



.ingimgfalse {
    opacity: 0;
    border-radius: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    right: -20vw;
    box-shadow: 0px 0px 4px 4px rgba(255, 227, 198, 0.5);
    transform: translateY(-50%);
    transition: opacity 1s;
}

.ingimgtrue {
    opacity: 1;
    border-radius: 100%;
    height: 200px;
    position: absolute;
    top: 50%;
    right: -20vw;
    box-shadow: 0px 0px 4px 4px rgba(255, 227, 198, 0.5);
    transform: translateY(-50%);
    transition: opacity 2s;
}


@media screen and (max-width: 1200px) {   // Desktop small
  .card {
    width: 70%;
  }
  .cardimg {
    width: 30vw
  }
  h2 {
    font-size: 2vw
  }
  .card p {
    font-size: calc(11px + 0.2vw);
  }
}

@media screen and (max-width: 945px) {  // tablet
    

    .nav {
        margin: 0;
        padding: 0;
        font-size: 3em;
        top: 540px;
    }
    .card {
        min-width: 350px;
      }
    
    .cardimg {
        min-width: 300px
      }

      h2 {
        font-size: 24px
      }

      .card p {
        font-size: calc(10px + 0.2vw);
      }


}

@media screen and (max-width: 550px) {  // mobile

  .fade-in {
    margin-top: -40px;
  }

  .mobile-none {
    display: none
  }
  .nav {
    margin: 0;
    padding: 0;
    top: 350px;
  }

.chevron-left {
  bottom: -80px;
  left: -160px;
}

.chevron-right {
  bottom: -80px;
  left: 105px;
}

  .card p {
    font-size: calc(11.2px + 0.2vw);
  }

  .card {
    min-width: 330px;
  }

  .card h2 {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  
}