.Repo-content-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.Repo-content-wrapper  > * {
    border: 8px solid;
    // Animate border

    -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
      var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
      0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
      var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
      0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
  
    &:hover {
      
      --_i: 100%;
      color: var(--accent);
      transition: .3s, -webkit-mask-size .3s .3s;
    }
    
  }


.Caverne-wrapper {
    height: 40vh;
    width: 100%;
}

.Filemanager-wrapper {
    height: 25vh;
    width: 100%;
}

.Github-wrapper {
    height: 20vh;
    width: 100%;
}
