.Wordpress-page-wrapper {
    position: fixed;
    background: url("../../public/images/Wordpress.jpg");
    background-position-x: 80.5%;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    width: 100%;
    height: 100%;
}

.Wordpress-big-wrapper {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 70vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Wordpress-header {
    width: 65%;
    height: 15vh;
}

.Wordpress-small-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Livore-sito, .Livore-articoli {
    margin: 25px;
    width: 30%;
    height: 100%;
}

.Wordpress-img {
    position: fixed;
    height: 110vh;
    bottom: 0px;
    right: 15vw;
}