@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Poppins&display=swap');

.tablet-yes, .small-yes, .Wordpress-big-wrapper.mobile-yes {
  display: none;
}

.Wordpress-page-wrapper {
    position: fixed;
    background: url("../../public/images/Wordpress.jpg");
    background-position-x: 5%;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position-y: 40%;
    width: 100%;
    height: 100%;
}

.Wordpress-big-wrapper {
    position: fixed;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    width: 70vw;
    height: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wordpress-small-wrapper {
    width: 100%;
    height: 100%;
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation-delay: 0.8s;
 
}

.perspective {
  perspective: 1000px;
}


.livore-images { // card
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.05s linear;
}


@-webkit-keyframes scale-up-center {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}
@keyframes scale-up-center {
  0% {
    opacity: 0
    }
  100% {
    opacity: 1
}
}


.livore-mobile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  border-radius: 10px;
  opacity: 0.95;
  z-index: 2;
  filter: drop-shadow(0 0 6px #df7b4f)
}

.livore-logo {
  position: absolute;
  height: 33%;
  top: 20%;
  left: 25%;
  border-radius: 100%;
  opacity: 0.95;
  z-index: 1;
  box-shadow: 0px 0px 6px #df7b4f;
  transform: translateZ(-80px)
}

.livore-desktop {
  position: absolute;
  height: 30%;
  top: 45%;
  right: 25%;
  border-radius: 10px;
  opacity: 0.95;
  z-index: 3;
  box-shadow: 0px 0px 6px #df7b4f;
  transform: translateZ(80px)
}

.livore-title {
  display: block;
  position: absolute;
  width: auto;
  height: auto;
  bottom: -1vw;
  left: 50%;
  transform: translateX(-50%);
}

.Livore-text {  
  text-align: center;
  font-size: 1.1em;
  min-width: 20vw;
}

.Livore-text p {
  position: absolute;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.5vw;
  &:after {
    opacity: 0.7;
    -webkit-animation: fade-in 0.8s ease-in-out both;
    animation: fade-in 0.8s ease-in-out both;
    animation-delay: 1s;
    
    z-index: -1;
  }
}



.Livore-text p:first-child {    // Analytics
  top: 40px;
  left: 13vw;
  &:after {
    content: url(../../public/images/freccia3.png);
    position: absolute;
    top: 40px;
    left: 0vw;
    transform: rotate(250deg);

  }
}

.Livore-text p:nth-child(2) {   // Yoast
  bottom: 150px;
  left: 10vw;
  &:after {
    content: url(../../public/images/freccia6.png);
    position: absolute;
    top: 0px;
    left: 8vw;
    transform: rotate(100deg) rotateX(180deg)
  }
}

.Livore-text p:nth-child(3) {   // GDPR
  top: 100px;
  right: 8vw;
  &:after {
    content: url(../../public/images/freccia4.png);
    position: absolute;
    top: -140px;
    right: 8vw;
    transform:  rotate(220deg) scale(0.8);
  }
}

.Livore-text p:nth-child(4) {   // Blocksy
  bottom: 15vw;
  left: 15vw;
  &:after {
    content: url(../../public/images/freccia1.png);
    position: absolute;
    top: -22px;
    left: 2vw;
    transform: scale(0.4);
  }
}

.Livore-text p:nth-child(5) {   // Elementor
  top: 25vw;
  right: 30px;
  &:after {
    content: url(../../public/images/freccia1.png);
    position: absolute;
    top: -5vw;
    right: 4vw;
    transform: rotate(200deg) scale(0.6);
  }
}

.Livore-text p:nth-child(6) {   // STackable/Getwid/Spectra
  
  top: 15vw;
  right: 4vw;
  &::after {
    content: url(../../public/images/freccia6.png);
    position: absolute;
    top: -120px;
    right: 15vw;
    transform: rotate(-80deg) rotateX(180deg) scale(0.7);
  }
}

.Livore-text p:nth-child(7) {   // Woocommerce
  bottom: 6vw;
  right: 150px;
  &::after {
    content: url(../../public/images/freccia7.png);
    position: absolute;
    top: -2vw;
    right: 9vw;
    transform: rotate(40deg) rotateX(180deg) scale(0.6);
  }
}

h2 * {
  font-size: 2.5vw;
  font-family: 'Cabin Sketch', cursive;
  color: var(--accent)
}

.Wordpress-img-wrapper {
    position: fixed;
    height: 110vh;
    bottom: 0px;
    right: 15vw;
    display: flex;
    flex-direction: column-reverse;
}

.Wordpress-img {
    width: 32vh;
}

.fade-in-fwd {
	-webkit-animation: fade-in-fwd 1s ease-in-out both;
	        animation: fade-in-fwd 1s ease-in-out both;
            animation-delay: 0.8s;
}

@-webkit-keyframes fade-in-fwd {
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-fwd {    
    0% {
      -webkit-transform: translateZ(-80px);
              transform: translateZ(-80px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

  
@media screen and (max-width: 1200px) {   // Desktop small
  .tablet-none {
    display: none;
  }
  .tablet-yes {
    display: block;
    text-align: center;
    line-height: 2.5;
    font-size: 1.8vw;
    margin-right: 4vw;
    & p {font-family: 'Cabin Sketch', cursive;
    }
  }
  .Wordpress-page-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .Wordpress-big-wrapper {
    margin-left: -15vw;
    width: 80vw;
    height: 100vh;
    margin-right: 0;
    position: static;
    transform: translateY(0%)
  }

  .livore-title {
    bottom: 0.5vw;
  }
}

@media screen and (max-width: 945px) {  // tablet
  .small-none {
    display: none;
  }

  .Wordpress-page-wrapper {
    position: fixed;
    background: url("../../public/images/Wordpress.jpg");
    background-size: cover;
    background-position: 30%;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .Wordpress-big-wrapper {
    top: -5%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: absolute;
  }

  .Wordpress-small-wrapper {
    display: flex;
    justify-content: center;
    
  }

.livore-images {
  top: 10%;
  height: 80%;
  width: 100%;
  position: relative
}

.livore-logo {
  left: 20vw;
}

.livore-desktop {
  right: 20vw;
}

.livore-title {
  left: 0;
  transform: translateX(0);
  bottom: 8vh;
  text-align: center;
  width: 100vw;
}

.livore-title h2 * {
  font-size: 30px;
}

.Wordpress-small-wrapper .small-yes {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center; 
  margin-right: 0;
  & p { font-family: 'Cabin Sketch', cursive;
        font-size: 16px }
}

}

@media screen and (max-width: 550px) {  // mobile
  .mobile-none {
    display: none
  }

  .Wordpress-big-wrapper.mobile-yes {
    display: block
  }

  .livore-title {
    left: 0;
    transform: translateX(0);
    bottom: 100px;
    text-align: center;
    width: 100vw;
  }
  
  .livore-title h2 * {
    font-size: 30px;
  }
  
  .Wordpress-small-wrapper .small-yes {
    position: absolute;
    width: 100%;
    bottom: 40px;
    text-align: center; 
    margin: 0;
    & p { font-family: 'Cabin Sketch', cursive;
          font-size: 16px;
          margin: 0 20px 0 20px;
         }
  }

  .livore-images {
    top: 12%;
    height: 65%;
    width: 100%;
    position: relative
  }

  .livore-logo {
    left: 15vw;
  }

  .livore-desktop {
    right: 8vw;
  }
}