@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --black: #191212; // rgba(25, 18, 18, 1)
  --dark: #1C1F1B; // rgba(28, 31, 27, 1)
  --mid: #2E362F; // rgba(46, 54, 47, 1)
  --light: #ffe3c6; // rgba(255, 227, 198, 1)
  --accent: #df7b4f; // rgba(223, 123, 79, 1)
}

* {
  color: var(--light);
  font-family: Poppins;
  box-sizing: border-box;
}

.big-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-wrapper {
  height: 100vh;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.switch-wrapper:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.switch-left {
  position: absolute;
  left: 0;
}

.switch-right {
  position: absolute;
  right: 0;
}

.Landing, .Repo, .Wordpress, .Etc, .Splash {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.Splash {
  position: fixed;
  z-index: 1;
}

.Splash {
  background: var(--black);
}

.first-link {
  margin-top: 200px;
  z-index: 99;
}

.Landing {
  background: var(--dark);
}

.Repo, .Etc {
  background: url(../public/images/elk.jpg);
  background-size: cover; 
}

.Wordpress {
  background: var(--dark);
}

p {
  font-weight: 100;
}


strong {
  color: var(--accent)
}

.glass {
  background: rgba(25, 18, 18, 0);
  border-radius: 16px;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.card.glass {
  background: rgba(46, 54, 47, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}


.swing-in-top-fwd {
	-webkit-animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.fade-in-top {
	-webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation-delay: 0.8s;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.Landing-bg-img {
  opacity: 0;
  -webkit-animation: fade-in 3s ease-in-out both;
	        animation: fade-in 3s ease-in-out both;
}

.fade-in {
  opacity: 0;
  -webkit-animation: fade-in 0.8s ease-in-out both;
	        animation: fade-in 0.8s ease-in-out both;
          animation-delay: 1.5s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 945px) {

  .switch-wrapper {
    width: 50px;
  }

}
